<div class="w-100 vh-96 position-relative">
  <div class="h-100 w-100">
    <div id="carouselExample" class="carousel slide carousel-fade h-100 w-100 z-1">
      <div class="carousel-inner h-100 w-100">
        <div class="carousel-item active w-100 h-100 img-carrousel"
          style="background-image: url(https://scontent.fctg3-1.fna.fbcdn.net/v/t39.30808-6/232278000_192709116219543_3787102833867079898_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=86c6b0&_nc_eui2=AeFwgwy9vMLA7Rwauh0tVs4_grRGmF5OHAeCtEaYXk4cB61dUk1Zr3emWmue9wl_zg6sVbav6_PMk5Lu8ESmNiZN&_nc_ohc=TqR3qUXKxu4Q7kNvgF-mPQa&_nc_ht=scontent.fctg3-1.fna&oh=00_AYDI3YZ2vlfN0lGRWYo_9g_6R-GY_TSzY3jmEVODBV0mCw&oe=66AAE867);">
        </div>
        <div class="carousel-item h-100 w-100 img-carrousel"
          style="background-image: url(https://scontent.fctg3-1.fna.fbcdn.net/v/t39.30808-6/380758480_683529337137516_3106580054007224606_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeEwSe4VMlK-GArzwUHGoSf3nyxVuzXSroyfLFW7NdKujBNTikjkoY97-9J0QWiKfrwUV6Zcp4phGJF-v1n54ude&_nc_ohc=53Xc_Wb-RJkQ7kNvgHlrRhn&_nc_ht=scontent.fctg3-1.fna&oh=00_AYAFJQPf9FCV9F0gq7fhmMixmQuunwApy2jV0uXmWOg80w&oe=66AAFA33);">
        </div>
        <div class="carousel-item h-100 w-100 img-carrousel"
          style="background-image: url(https://scontent.fctg3-1.fna.fbcdn.net/v/t39.30808-6/344359048_786659626315858_7016284813120073905_n.jpg?stp=dst-jpg_p180x540&_nc_cat=106&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeG05K2uopS3Xyp_le1c_tKGV2hImO-kcPNXaEiY76Rw87NVfuPeD7RpAXtPM595aUg-qHoqFYBXPBM-Mh-wLJBC&_nc_ohc=gdwcFRYwxr4Q7kNvgHsExHk&_nc_ht=scontent.fctg3-1.fna&oh=00_AYBOhF9TB1muPFDipyoD1oCzpWhJVIp7l_QYAhhE_F01wQ&oe=66AAF4A5);">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="h-100 w-auto position-absolute top-0 py-4 start-3 z-2 row gx-0 flex-column justify-content-between">
      <div class="h-25">
        <img src="https://i.ibb.co/4gjBtp4/Fune-F.png" alt="" class="d-block w-25">
      </div>
      <div class="shadow-r text-light">
        <hr class="border-3 opacity-100">
        <h1>Fune FuHoy</h1>
        <p>Texto para colocar una breve descripcion o colocar un eslogan</p>
      </div>
    </div>
  </div>
</div>
<div class="h-5 w-100 sticky-top">
  <nav class="navbar bg-dark p-0 h-100">
    <div class="container-fluid gap-3 justify-content-start text-light">
      <a class="nav-link active" aria-current="page" href="#quienes">Quienes</a>
      <a class="nav-link" href="#objetivos">Objetivos</a>
      <a class="nav-link" href="#aliados">Aliados y Apoyos</a>
      <a class="nav-link" href="#contactos">Contacto</a>

      <div class="socials-container h-100 flex-grow-1">
        <a href="#" class="social twitter">
          <svg height="1em" viewBox="0 0 512 512">
            <path
              d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
            </path>
          </svg>
        </a>

        <a href="https://www.facebook.com/fune.fuhoy?mibextid=ZbWKwL" class="social facebook"><svg height="1em"
            viewBox="0 0 320 512">
            <path
              d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
            </path>
          </svg></a>


        <a href="#" class="social instagram"><svg height="1em" viewBox="0 0 448 512">
            <path
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
            </path>
          </svg></a>
      </div>
    </div>
  </nav>
</div>
<div id="quienes" class="w-100 vh-100 position-relative row justify-content-center gx-0 px-3 pt-3">
  <div class="text-dark w-50 h-auto pb-5" style="height: 15% !important;">
    <h2 class="text-center fs-1 text-uppercase h-auto p-0">Que es Fune FuHoy</h2>
    <div>
      <p class="fs-5 text-wrap h-auto p-0" style="text-align-last: justify;">Fune FoHoy es una fundación sin ánimo de lucro que busca generar cambios
        significativos
        y
        duraderos en la sociedad. Su enfoque es apoyar a la comunidad más vulnerable, incluyendo madres cabeza de hogar,
        niños, adolescentes, jóvenes en situación de riesgo, personas con discapacidad y adultos.</p>
    </div>
  </div>
  <div class="row justify-content-evenly gx-0 gap-3 h-75 pt-3">
    <img class="h-100 w-25"
      src="https://scontent.fctg3-1.fna.fbcdn.net/v/t39.30808-6/410928896_734412375382545_5287508029155683414_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeGyGLtEQZRBo1AR0_vFvw0sgks1VBVZP5mCSzVUFVk_mR83tgSRI9phbeFIh9VFMOyLUkAvkOCvmC1s7gifzZ20&_nc_ohc=0EdAwe5-nOMQ7kNvgFFUBth&_nc_ht=scontent.fctg3-1.fna&oh=00_AYAnn1Tgnbvr4X0MU0LnpkA8vDtmd0L1_H2m-D7GzPzyGg&oe=66AAF932"
      alt="">
    <img class="h-100 w-25"
      src="https://scontent.fctg3-1.fna.fbcdn.net/v/t39.30808-6/412834546_734412462049203_7214847270911646771_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEv7AhBnDHJpnU9x2IdxKMpuNMASVCa9cO40wBJUJr1w0vYQ-vt0Z-Gf_yiNICw4_xkPeqR2VmJsc2cJwukuFkT&_nc_ohc=uMk25gP69woQ7kNvgFFdssF&_nc_ht=scontent.fctg3-1.fna&gid=AqCRVOhyQJMYM2vkz1W4sxp&oh=00_AYCYOywARwbK9DxV6vnJccilQ8bQ7EyqL4zHaqlhxxsFZw&oe=66AAD47E"
      alt="">
    <img class="h-100 w-25"
      src="https://scontent.fctg3-1.fna.fbcdn.net/v/t39.30808-6/414008041_734412258715890_1297339309059214244_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEYV7onunwUSEOFpO-Hfu26p3UcoYMLWPyndRyhgwtY_Os-U07rqdQ-HugYY4pt9gd05rmnY3Q5hnS7l5rI4Q8r&_nc_ohc=vb9QaM2USA0Q7kNvgHwPnOc&_nc_ht=scontent.fctg3-1.fna&oh=00_AYDukIFbUTN2u-RrD39Uok6ula5UHp5PPVDHMWvbLeHO0A&oe=66AB010F"
      alt="">
  </div>
</div>
<div class="w-100 vh-35 p-5 img-carrousel"
  style="background-image: url(https://scontent.fctg3-1.fna.fbcdn.net/v/t39.30808-6/391713817_696114489212334_5402054285217806949_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFnWUnJNV1g_qoJqnIuF4VJiLtuv2thgO6Iu26_a2GA7tYHDFVvATCSPJsTo5T4HtZ7q3uF4-TbKbwfEXJSW1hs&_nc_ohc=EppsSmkapTMQ7kNvgFJau_C&_nc_ht=scontent.fctg3-1.fna&oh=00_AYCaPLD1y5xl8G_7iDx7VX9FuKNLDCJYL1Im-RrnIs0QvQ&oe=66AAF65B);">
</div>
<div id="objetivos" class="w-100 vh-100 position-relative row justify-content-center gx-0 px-3 py-5">
  <div class="text-dark col align-content-center justify-items-center ">
    <h2 class="text-center fs-1 text-uppercase">Objetivos</h2>
    <p class="fs-5 text-wrap w-100 px-5" style="text-align-last: justify;">
      Nuestro principal propósito es apoyar el desarrollo integral de la comunidad objetivo a través de proyectos y
      acciones sostenibles generando cambios significativos y duraderos en la sociedad,
      empoderar a las personas para que sean gestores de su propio desarrollo fomentando la educación, la cultura y el
      bienestar en la comunidad
      y proporcionar oportunidades para el crecimiento y el desarrollo personal y comunitario.
    </p>
  </div>
  <div class="col ">
    <div class="h-100 w-100 align-content-center">
      <iframe class="w-100 h-75"
        src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ffune.fuhoy%2Fposts%2Fpfbid028FXdFnKh6V7YmWkQoP6MnU1nmbn1rWvCFp892NNjPuEfgFfXPA5dkVfF8b9jKzPol"
        style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
        allow="autoplay; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
  </div>
</div>
<hr class="border-2 opacity-100">
<div id="aliados" class="w-100 vh-25 position-relativerow row justify-content-center gx-0 px-3 py-5">
  <div class="text-dark w-50">
    <h2 class="text-center fs-1 text-uppercase">Aliados y apoyos</h2>
    <p class="fs-5 text-wrap" style="text-align-last: justify;">
      Contamos con el apoyo del Ministerio de Cultura, a través del Programa Nacional de Concertación Cultural, que nos
      ha
      permitido realizar proyectos como el taller de literatura para niños y jóvenes en Clemencia-Bolívar.
    </p>
  </div>
</div>
<div id="contactos" class="w-100 vh-50 position-relative row justify-content-center align-items-center gx-0 px-3 py-5 img-contact" style="background-image: url(https://scontent.fctg3-1.fna.fbcdn.net/v/t39.30808-6/391680628_698534405637009_6085612362883284907_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeHiWoF_k1Yhud4QZc5XefOBNLg2aQNLLKg0uDZpA0ssqKxEFNgZVVKkTAMxrTtvhAAPBT-ha3qG4mY3Pam-eVBs&_nc_ohc=AvLaOg_15I0Q7kNvgH8h4Q_&_nc_ht=scontent.fctg3-1.fna&oh=00_AYCqhthECpZgtOLFENGeAFMNvh5ILUBaPyz41FXTTyfHcw&oe=66AB0C80);">
  <div class="text-light w-50 bg-shadow py-5">
    <h2 class="text-center fs-1 text-uppercase">Contacto</h2>
    <p class="fs-5 text-wrap text-center">
      Teléfono: 313 560 6940</p>
    <p class="fs-5 text-wrap text-center">
      Dirección: Barrio Escallonvilla K52 #30D29, Cartagena
    </p>
  </div>
</div>